In [1]:
from pandas.core.tools.numeric import to_numeric
import regex as re
import pandas as pd
from bs4 import BeautifulSoup
import seaborn as sns

## Analysis

In [2]:
df = pd.read_csv(f"traces.csv")
df

                   app  server    guest  dynamic_proxy   preload
0       com.gamma.scan  41.510   70.655         48.027  2003.977
1       com.gamma.scan  42.549   70.745         48.774  1968.578
2       com.gamma.scan  42.714   71.215         49.524  1968.865
3       com.gamma.scan  43.158   79.930         49.605  1988.307
4       com.gamma.scan  43.161   90.737         49.850  1991.719
...                ...     ...      ...            ...       ...
2995  tv.pluto.android  42.326   72.730         48.058  2020.124
2996  tv.pluto.android  42.927   74.735         48.662  1985.001
2997  tv.pluto.android  43.935   76.645         49.777  2012.045
2998  tv.pluto.android  44.167   79.042         49.812  2001.551
2999  tv.pluto.android  49.010  105.044         51.396  1968.619

[3000 rows x 5 columns]

In [3]:
df2 = df.copy()
df2["tot"] = df2["guest"] + df2["dynamic_proxy"] + df2["server"]
df2["container"] = df2["server"] + df2["dynamic_proxy"] + df2["preload"]
df2.mean()

<ipython-input-3-f02a191ade8f>:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.mean()

server             43.620795
guest              83.328097
dynamic_proxy      49.766741
preload          1992.554253
tot               176.715634
container        2085.941790
dtype: float64

In [5]:
df2.std()

<ipython-input-5-cefa5b2080f7>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.std()

server            1.910884
guest            12.247835
dynamic_proxy     0.632035
preload          20.572326
tot              13.452888
container        20.893664
dtype: float64